@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: "Inter", serif;
    --cor-hover: #59a3fd;
    --cor-hover-botao-preto: #868686;

}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-size: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
    align-items: center;
    box-sizing: border-box;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center;
    margin: 0 6em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    border-radius: 5px;
    background-color: var(--botao-azul);
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--cor-hover);
}

.botao__preto {
    background-color: transparent;
    border: 2px solid var(--cinza-secundario);
}

.botao__preto:hover {
    background-color: var(--cor-hover-botao-preto);
}

.container__titulo {
    font-size: 1.75rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}


.secundario__imagem {
    width: 70%;
}

.descricao__titulo {
    font-size: 3rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao__paragrafo {
    font-size: 1rem;
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-weight: 400;
}



.terciario__botao {
    display: inline-block;
    margin-top: 1em;
}

.terciario__imagem {
    margin: 0 6em;
}


.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.dispositivos__texto {
    font-size: 2rem;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.rodape {
    text-align: center;
    margin: 10%;
}

.rodape__lista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
    list-style-type: none;  
}

.rodape__lista__links {
    text-decoration: none;
    font-size: 1rem;
    color: var(--branco-principal);
    font-weight: 400;
}

.rodape__lista__links:hover {
    color:var(--cor-hover);
}

.paragrafo {
    flex-direction: column;
    font-size: 14px;
    margin-top: 1em;
    padding: 0;
    color: var(--cinza-secundario)
}

@media screen and (max-width: 768px) {
    
    .container {
        display: flex;
        background-image: none;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .principal {
        margin: 0 2em;
    }

    .container__imagem {
        width: 50vw;
        margin: 2em 0 2em 0;
    }

    .secundario {
        margin: 0;
    }

    .descricao__titulo {
        margin-bottom: 0.5em;
    }

    .terciario {
        margin: 0 2em;
        flex-direction: column-reverse;
    }

    .terciario__imagem {
        width: 90%;
        margin: 0;
        margin-bottom: 3em;
    }

    .quarternario {
        margin: 0;
    }

    .quarternario__imagem {
        width: 80%;
        margin-bottom: 3em;
    }

    .dispositivos__lista {
        flex-direction: column;
    }

    .rodape__lista {
        flex-direction: column;
        gap: 1.5em;
    }
}